#header-nav {
  background-color: cornflowerblue;
  display: flex;
  flex-flow: row;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  h1 {
    font-size: 1rem;
  }
  #icon {
    font-size: 2rem;
  }
}

#nodes-app-main{
  background-color: white;
  display: flex;
  flex-flow: row;
  width: 80%;
  margin:0 auto;
  article {
    width: 100%;
    margin:0 auto;
  }
}